/*font-family: 'Amatic SC', cursive;
font-family: 'Rokkitt', serif;*/

.container {
  margin: 20px 20px;
  display: flex;
  max-width: 480px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  border: solid 2px black;
}

.logocontainer {
  display: flex;
  flex-direction: column;
}

#compinfo {
  border-top: solid 2px black;
  flex-basis: 100%;
}

.logo {
  padding-top: 20px;
  height: 200px;
  width: 200px;
  align-self: center;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
}

#contactInfo {
  border-top: solid 2px black;
  flex-basis: 100%;
  font-family: 'Rokkitt', serif;
}

#established {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Rokkitt', serif;
  border-top: solid 2px black;
  flex-basis: 100%;
}

.bikeImages {
  border-top: solid 2px black;
}

#footer {
  border-top: solid 2px black;
  flex-basis: 100%;
  font-family: 'Rokkitt', serif;
}

#img1 {

  height: 200px;
  /*width: 356px;*/
  /*flex-grow: 100%;*/
  max-width: 480px;
  width: 100%;
  background-size: contain;
  background-position: center;
  padding: 5px;
  margin: -5px;
}

#img2 {
  display: none;
}

#img3 {
  display:none;
}

#missState {
  display: none;
}



@media only screen and (min-width: 480px) {

img {
  flex-wrap: nowrap;
  flex-direction: row;
  f
}

#img1 {
  display: inline-block;

}

#img2 {
display: inline-block;
width: 100%;
}

#img3 {
display: inline-lock;
width: 100%;
flex-basis:30%;
}

}
