
.container {
  margin: 20px 20px;
  display: flex;
  max-width: 480px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  border: solid 2px black;
}

.logocontainer {
display: flex;
flex-direction: column;
}

#compinfo {
  border-top: solid 2px black;
  flex-basis: 100%;
}

img {
  padding-top: 20px;
  height: 200px;
  width: 200px;
  align-self: center;
}

h1 {

}

#contactInfo {
border-top: solid 2px black;
flex-basis: 100%;
}

#established {

border-top: solid 2px black;
flex-basis: 100%;


}

.bikeImages {
}

#footer {
  border-top: solid 2px black;
  flex-basis: 100%;
}
.salespitch{
  display:none;
}


#img1 {

  height: 200px;
  /*width: 356px;*/
  /*flex-grow: 100%;*/
  max-width: 480px;
  width: 100%;
  background-size: contain;
  background-position: center;
  padding: 5px;
  margin: -5px;

#image1 {
  background-image: url('https://unsplash.com/photos/tG36rvCeqng');

}

#img2 {
  display: none;
}

#img3 {
  display:none;
}

#missState {
  display: none;
}




@media only screen and (min-width: 480px) {

img {
  flex-wrap: nowrap;
  flex-direction: row;
  f
}

#img1 {
  display: inline-block;

}

#img2 {
display: inline-block;
width: 100%;
}

#img3 {
display: inline-lock;
width: 100%;
flex-basis:30%;

.salespitch{
  display:block;
  border-top: solid 2px black;
}

}
